<section class="h-100">
  <div class="container h-100 align-items-center d-flex">
    <div class="row w-100 m-0">
      <div class="col-md-4 offset-md-4 col-12 offset-0">
        <h2 class="mb-2">Transfiere fondos desde tu cuenta</h2>
        <p>Ingresa la cantidad que quieres transferir.</p>
        <form [formGroup]="transferForm" (ngSubmit)="transferAmountFromMyAccount(transferForm.value)" autocomplete="off">
          <div class="form-group" *ngIf="message == '' || !status">
            <label for="transferAmount">Monto</label>
            <input type="number" class="form-control" id="transferAmount" formControlName="transferAmount" placeholder="Ingresa un monto" min="0" required>
            <small class="text-danger" *ngIf="!transferForm.get('transferAmount')!.untouched && transferForm.get('transferAmount')!.errors && transferForm.get('transferAmount')!.hasError('required')">
              El monto no puede estar vacio.
            </small>
            <small class="text-secondary" *ngIf="transferForm.get('transferAmount')!.untouched || !transferForm.get('transferAmount')!.errors || !transferForm.get('transferAmount')!.hasError('required')">
              Solo caracteres numéricos. Monto mayor que 0.
            </small>
          </div>
          <div class="form-group" *ngIf="message == '' || !status">
            <label for="transferRut">RUT de destinatario</label>
            <input type="text" class="form-control" id="transferRut" formControlName="transferRut" placeholder="Ingresa el RUT del destinatario" required minlength="9" maxlength="10">
            <small class="text-danger" *ngIf="!transferForm.get('transferRut')!.untouched && transferForm.get('transferRut')!.errors && transferForm.get('transferRut')!.hasError('required')">
              Campo obligatorio. Al menos 9 caracteres.
            </small>
            <small class="text-secondary" *ngIf="transferForm.get('transferRut')!.untouched || !transferForm.get('transferRut')!.errors || !transferForm.get('transferRut')!.hasError('required')">
              Ejemplo: 12345678-9
            </small>
          </div>
          <p class="{{ status ? 'text-success' : 'text-danger'}}" *ngIf="message != ''">{{message}}</p>
          <button type="submit" class="btn btn-dark w-100 mt-3" [disabled]="transferForm.invalid">Transferir</button>
        </form>
      </div>
    </div>
  </div>
</section>
