<section class="bg-zig-zag h-100">
  <div class="container h-100 align-items-center d-flex">
    <div class="row w-100 m-0">
      <div class="col-md-6 offset-md-3 col-12 offset-0">
        <div class="card">
          <div class="card-body">
            <h2 class="mb-2">Bienvenido al Ripley Technical Challenge</h2>
            <p>Ingresa tus credenciales para iniciar sesión</p>
            <form [formGroup]="loginForm" (ngSubmit)="loginUser(loginForm.value)">
              <div class="form-group">
                <label for="loginEmail">Correo</label>
                <input type="email" class="form-control" id="loginEmail" formControlName="loginEmail" placeholder="Ingresa tu correo" required>
                <small class="text-danger" *ngIf="!loginForm.get('loginEmail')!.untouched && loginForm.get('loginEmail')!.errors && loginForm.get('loginEmail')!.hasError('required')">
                  Introduce un correo valido.
                </small>
                <small class="text-secondary" *ngIf="loginForm.get('loginEmail')!.untouched || !loginForm.get('loginEmail')!.errors || !loginForm.get('loginEmail')!.hasError('required')">
                  Ejemplo: tucorreo@gmail.com
                </small>
              </div>
              <div class="form-group">
                <label for="loginPassword">Contraseña</label>
                <input type="password" class="form-control" id="loginPassword" formControlName="loginPassword" placeholder="Ingresa tu contraseña" required minlength="8">
                <small class="text-danger" *ngIf="!loginForm.get('loginPassword')!.untouched && loginForm.get('loginPassword')!.errors && loginForm.get('loginPassword')!.hasError('required')">
                  Campo obligatorio.
                </small>
                <small class="text-secondary" *ngIf="loginForm.get('loginPassword')!.untouched || !loginForm.get('loginPassword')!.errors || !loginForm.get('loginPassword')!.hasError('required')">
                  Minimo 8 caracteres.
                </small>
              </div>
              <p class="text-danger" *ngIf="message != ''">{{message}}</p>
              <button type="submit" class="btn btn-dark w-100 mt-3" [disabled]="loginForm.invalid">Iniciar sesión</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
