<section class="h-100">
  <div class="container h-100 align-items-center d-flex">
    <div class="row w-100 m-0">
      <div class="col-md-4 offset-md-4 col-12 offset-0">
        <h2 class="mb-2">Retira fondos de tu cuenta</h2>
        <p>Ingresa la cantidad que quieres retirar de tu cuenta.</p>
        <form [formGroup]="withdrawForm" (ngSubmit)="withdrawAmountFromMyAccount(withdrawForm.value)" autocomplete="off">
          <div class="form-group" *ngIf="message == '' || !status">
            <label for="withdrawAmount">Monto</label>
            <input type="number" class="form-control" id="withdrawAmount" formControlName="withdrawAmount" placeholder="Ingresa un monto" min="0" required>
            <small class="text-danger" *ngIf="!withdrawForm.get('withdrawAmount')!.untouched && withdrawForm.get('withdrawAmount')!.errors && withdrawForm.get('withdrawAmount')!.hasError('required')">
              El monto no puede estar vacio.
            </small>
            <small class="text-secondary" *ngIf="withdrawForm.get('withdrawAmount')!.untouched || !withdrawForm.get('withdrawAmount')!.errors || !withdrawForm.get('withdrawAmount')!.hasError('required')">
              Solo caracteres numéricos. Monto mayor que 0.
            </small>
          </div>
          <p class="{{ status ? 'text-success' : 'text-danger'}}" *ngIf="message != ''">{{message}}</p>
          <button type="submit" class="btn btn-dark w-100 mt-3" [disabled]="withdrawForm.invalid">Retirar</button>
        </form>
      </div>
    </div>
  </div>
</section>
