<header>
  <div class="navbar navbar-dark  d-none d-md-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-dark box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal text-light"><a class="btn btn-link text-light" routerLink="/transactions">Ripley Technical Challenge</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-light" routerLink="/deposit" *ngIf="login">Cargar saldo</a>
      <a class="p-2 text-light" routerLink="/withdraw" *ngIf="login">Retirar saldo</a>
      <a class="p-2 text-light" routerLink="/transfer" *ngIf="login">Transferir</a>
      <a class="p-2 text-light" routerLink="/transactions" *ngIf="login">Mis movimientos</a>
      <a class="p-2 text-light" routerLink="/login" *ngIf="!login">Iniciar sesión</a>
    </nav>
    <a class="btn btn-light" routerLink="/register" *ngIf="!login">Registrate</a>
    <a class="btn btn-light" href="#" (click)="logOut()" *ngIf="login">Cerrar sesión</a>
  </div>
  <div class="navbar navbar-dark d-flex d-md-none flex-md-row align-items-center p-3 px-md-4 bg-dark box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal text-light d-block d-md-none"><a class="btn btn-link text-light" routerLink="/transactions">RTC</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-light" routerLink="/login" *ngIf="!login">Iniciar sesión</a>
    </nav>
    <a class="btn btn-light" routerLink="/register" *ngIf="!login">Registrate</a>

    <button class="navbar-toggler" type="button" *ngIf="login" (click)="showCollapse = !showCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse my-2 my-md-0 mr-md-3 w-100 {{showCollapse ? 'show' : ''}}" id="collapseMobileNavbar" *ngIf="login">
      <a class="p-2 text-light d-block" routerLink="/deposit" (click)="showCollapse = !showCollapse">Cargar saldo</a>
      <a class="p-2 text-light d-block" routerLink="/withdraw" (click)="showCollapse = !showCollapse">Retirar saldo</a>
      <a class="p-2 text-light d-block" routerLink="/transfer" (click)="showCollapse = !showCollapse">Transferir</a>
      <a class="p-2 text-light d-block" routerLink="/transactions" (click)="showCollapse = !showCollapse">Mis movimientos</a>
      <a class="p-2 text-light d-block" href="#" (click)="logOut()">Cerrar sesión</a>
    </div>
  </div>
  <div class="navbar navbar-light d-none d-md-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-light box-shadow" *ngIf="login">
    <h6 class="my-0 mr-md-auto font-weight-normal text-dark">Bienvenido, {{name}}</h6>
    <span>Tu saldo es: ${{balance}}</span>
  </div>
  <div class="navbar navbar-light d-flex d-md-none flex-md-row align-items-center p-3 px-md-4 bg-light box-shadow" *ngIf="login">
    <h6 class="my-0 mr-md-auto font-weight-normal text-dark">Bienvenido, {{name}}</h6>
    <span>Tu saldo es: ${{balance}}</span>
  </div>
</header>
<main class="{{login ? 'login' : ''}}">
  <router-outlet></router-outlet>
</main>
<footer class="navbar navbar-dark d-flex flex-column align-items-center p-3 px-md-4 bg-dark box-shadow">
  <h6 class="my-0 font-weight-normal text-light">RTC, desarrollado por Napoleón Gómez</h6>
</footer>
