<section class="h-100">
  <div class="container h-100 align-items-center d-flex">
    <div class="row w-100 m-0">
      <div class="col-md-4 offset-md-4 col-12 offset-0">
        <h2 class="mb-2">Deposita fondos en tu cuenta</h2>
        <p>Ingresa la cantidad que quieres depositar en tu cuenta.</p>
        <form [formGroup]="depositForm" (ngSubmit)="depositAmountToMyAccount(depositForm.value)" autocomplete="off">
          <div class="form-group" *ngIf="message == '' || !status">
            <label for="depositAmount">Monto</label>
            <input type="number" class="form-control" id="depositAmount" formControlName="depositAmount" placeholder="Ingresa un monto" min="0" required>
            <small class="text-danger" *ngIf="!depositForm.get('depositAmount')!.untouched && depositForm.get('depositAmount')!.errors && depositForm.get('depositAmount')!.hasError('required')">
              El monto no puede estar vacio.
            </small>
            <small class="text-secondary" *ngIf="depositForm.get('depositAmount')!.untouched || !depositForm.get('depositAmount')!.errors || !depositForm.get('depositAmount')!.hasError('required')">
              Solo caracteres numéricos. Monto mayor que 0.
            </small>
          </div>
          <p class="{{ status ? 'text-success' : 'text-danger'}}" *ngIf="message != ''">{{message}}</p>
          <button type="submit" class="btn btn-dark w-100 mt-3" [disabled]="depositForm.invalid">Depositar</button>
        </form>
      </div>
    </div>
  </div>
</section>
