<section class="bg-zig-zag h-100">
  <div class="container h-100 align-items-center d-flex {{loading ? 'loading' : ''}}">
    <div class="row w-100 m-0">
      <div class="col-md-8 offset-md-2 col-12 offset-0">
        <div class="card">
          <div class="card-body">
            <h2 class="mb-2">Bienvenido al Ripley Technical Challenge</h2>
            <p>Ingresa tus datos para crear tu cuenta RTC</p>
            <form [formGroup]="registerForm" (ngSubmit)="registerUser(registerForm.value)" autocomplete="off">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group" [formGroup]="registerForm">
                    <label for="registerName">Nombre</label>
                    <input type="text" class="form-control" id="registerName" name="registerName" formControlName="registerName" placeholder="Ingresa tu nombre" required minlength="3">
                    <small class="text-danger" *ngIf="!registerForm.get('registerName')!.untouched && registerForm.get('registerName')!.errors && registerForm.get('registerName')!.hasError('required')">
                      Campo obligatorio.
                    </small>
                    <small class="text-secondary" *ngIf="registerForm.get('registerName')!.untouched || !registerForm.get('registerName')!.errors || !registerForm.get('registerName')!.hasError('required')">
                      Solo caracteres alfabéticos. Al menos 3 caracteres.
                    </small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="registerRut">RUT</label>
                    <input type="text" class="form-control" id="registerRut" formControlName="registerRut" placeholder="Ingresa tu RUT" required minlength="9" maxlength="10">
                    <small class="text-danger" *ngIf="!registerForm.get('registerRut')!.untouched && registerForm.get('registerRut')!.errors && registerForm.get('registerRut')!.hasError('required')">
                      Campo obligatorio. Debe ser un RUT valido.
                    </small>
                    <small class="text-secondary" *ngIf="registerForm.get('registerRut')!.untouched || !registerForm.get('registerRut')!.errors || !registerForm.get('registerRut')!.hasError('required')">
                      Ejemplo: 12345678-9
                    </small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="registerEmail">Correo</label>
                    <input type="email" class="form-control" id="registerEmail" formControlName="registerEmail" aria-describedby="registerEmailHelp" placeholder="Ingresa tu correo" required>
                    <small class="text-danger" *ngIf="!registerForm.get('registerEmail')!.untouched && registerForm.get('registerEmail')!.errors && registerForm.get('registerEmail')!.hasError('required')">
                      Campo obligatorio. Debe ser un correo valido.
                    </small>
                    <small class="text-secondary" *ngIf="registerForm.get('registerEmail')!.untouched || !registerForm.get('registerEmail')!.errors || !registerForm.get('registerEmail')!.hasError('required')">
                      Ejemplo: tucorreo@gmail.com
                    </small>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="registerPassword">Contraseña</label>
                    <input type="password" class="form-control" id="registerPassword" formControlName="registerPassword" placeholder="Ingresa tu contraseña" required minlength="8">
                    <small class="text-danger" *ngIf="!registerForm.get('registerPassword')!.untouched && registerForm.get('registerPassword')!.errors && registerForm.get('registerPassword')!.hasError('required')">
                      Campo obligatorio.
                    </small>
                    <small class="text-secondary" *ngIf="registerForm.get('registerPassword')!.untouched || !registerForm.get('registerPassword')!.errors || !registerForm.get('registerPassword')!.hasError('required')">
                      Minimo 8 caracteres.
                    </small>
                  </div>
                </div>
              </div>
              <p class="text-danger" *ngIf="message != ''">{{message}}</p>
              <button type="submit" class="btn btn-dark w-100 mt-3" [disabled]="registerForm.invalid">Registrarme</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
