<section class="h-100">
  <div class="container h-100 align-items-center d-flex">
    <div class="row w-100 m-0">
      <div class="col-md-8 offset-md-2 col-12 offset-0">
        <h2 class="mb-2">Listado de movimientos</h2>
        <p *ngIf="status && transactions.length > 0">Acá podras ver los movimientos de tu cuenta.</p>
        <p *ngIf="!status || transactions.length == 0">Lo sentimos. Por el momento, no hay movimientos que mostrar.</p>
        <table class="table scrolling" *ngIf="status && transactions.length > 0">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Tipo</th>
              <th scope="col">Monto</th>
              <th scope="col">Fecha</th>
            </tr>
          </thead>
          <tbody style="height: 300px; overflow-y: scroll;">
            <tr *ngFor="let transaction of transactions">
              <!-- <ng-container *ngIf="transaction != null"></ng-container> -->
              <td>{{ transaction['type'] }}</td>
              <td>{{ transaction['amount'] }}</td>
              <td>{{ transaction['date'] | date:'dd/MM/yyyy HH:mm' }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
